<div class="card--list--wrapper">
    <h2 class="full-width" *ngIf="component.attributes.field_title">{{ component.attributes.field_title }}</h2>
    <div [class]="cssClass">
        <ng-container [ngSwitch]="listViewMode">
            <ng-container *ngSwitchCase="'card'">
                <ng-container *ngFor="let item of component.items">
                    <app-card [data]='item' [path]="path"></app-card>
                </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'card_grid'">
                <app-reference [data]="component.items" [path]="path"></app-reference>
            </ng-container>
        </ng-container>
    </div>
</div>