.hero_banner_wrapper {
  width: 100%;
  min-height: 540px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% !important;

  @media (min-width: 768px){
    margin-top: 125px; /* -15px */
  }

  @media (min-width: 992px){
    margin-top: 70px;
    padding: 70px 30px;
  }
}
.hero_banner_wrapper div {
  color: #fff;
}
.hero_banner-body {
  cursor: grab;
  left: 0;
  bottom: 0;
  padding: 5px 10px;
}

.hero_banner_title {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 50px;
  color: #fff !important;
  @media (min-width: 768px){
    margin-right: 0;
    line-height: 40px;
    font-size: 36px;
  }

  @media (min-width: 992px){
    line-height: 37px;
  }
}

.hero_banner_short_title {
  font-size: 18px;
  font-weight: 500;
}

.hero_banner_subhead {
  border-color: transparent;
  font-size: 16px;
  font-weight: 500;
}

.hero_banner_text_desc {
  font-size: 14px;
  font-family: "IBM Plex Sans",sans-serif;
}

.button__group {
  min-width: 150px;
}
