.Mycard {
  background-color: white;
}
.Card-Right {
  margin-left: auto;
  order: 2;
}

.Card-List .Main-Title {
  font-size: 1.071em;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 15px 0;
}

.layout--threecol-section {
  display: flex;
  flex-wrap: wrap;
  clear: both;
}

.layout--threecol-section-col{
  width: 33%;
  padding: 0 10px;
  margin-bottom: 30px;
}

.full-width{
  width: 100%;
}

