footer {
  .row {
    padding: 10px 0;
  }
  a {
    color: #000;
  }
  p {
    margin: 0;
  }
  .edge-footer {
    font-size: 12px;
  }
  .edge-footer--link {
    a {
      padding-right: 5px;
      margin-right: 5px;
      border-right: #dee2e6 solid 1px;
    }
    a:last-child{
      border-right: none;
    }
  }
  .social-icons {
    a {
      display: inline-block;
      padding-left: 20px;
    }
    img {
      width: 30px;
    }
  }
  address {
    margin: 0;
  }
}
