.paragraph--type--gallery-carousel {
  margin-bottom:30px;
  padding:0;
  position:relative;
}
.media--background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner {
  width: 100%;
  min-height: 450px;
  margin-bottom: 5px;
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 450px;
  padding-bottom: 37.5%;
}
